@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "@fontsource/nunito/400.css";
@import "@fontsource/nunito/600.css";
@import "@fontsource/nunito/700.css";
@import "@fontsource/nunito/800.css";

@layer base {
    html {
        font-family: 'Nunito', sans-serif;
    }
}

@layer utilities {
    .bg-dot-pattern {
        background-image: radial-gradient(#e7e5e4 1px, transparent 1px);
        background-size: 20px 20px;
    }
}